# TURSO SQLITE
DATABASE_URL=http://127.0.0.1:8080
DATABASE_AUTH_TOKEN=any-token

# used for contributions to fill the monitor tracker with data
NOOP_UPTIME="true"

# https://turbo.build/repo/docs/crafting-your-repository/using-environment-variables#loose-mode
TURBO_ENV_MODE=loose

NEXT_PUBLIC_OPENPANEL_CLIENT_ID=something
OPENPANEL_CLIENT_SECRET=something
RESEND_API_KEY=yolo
CRON_SECRET=yolo

VERCEL_URL=https://app.openstatus.dev
