# RESEND for email
RESEND_API_KEY=resend-api-key

# TURSO SQLITE
DATABASE_URL=http://127.0.0.1:8080
DATABASE_AUTH_TOKEN=any-token

# Solves 'UNABLE_TO_GET_ISSUER_CERT_LOCALLY', see https://github.com/nextauthjs/next-auth/issues/3580
# NODE_TLS_REJECT_UNAUTHORIZED="0"

#  For vercel upload
BLOB_READ_WRITE_TOKEN=blob-read-write-token

NEXT_PUBLIC_URL=

CRON_SECRET=

VERCEL_URL=https://app.openstatus.dev

# RUM server with separate clickhouse for self-host
CLICKHOUSE_URL=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=

AUTH_SECRET=secret
AUTH_DRIZZLE_URL=file://./../../openstatus-dev.db
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

SLACK_SUPPORT_WEBHOOK_URL=

WORKSPACES_LOOKBACK_30=
WORKSPACES_HIDE_URL=

# https://turbo.build/repo/docs/crafting-your-repository/using-environment-variables#loose-mode
TURBO_ENV_MODE=loose

NEXT_PUBLIC_OPENPANEL_CLIENT_ID=something
OPENPANEL_CLIENT_SECRET=something
